*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    
}

.container{
    text-align: center;

    color: black;
    /* height: 800px; */
}

.container h1{
    padding-top: 50px;
    font-size: 150px;
}

.container h2{
    margin-top: 50px;
    font-size: 150px;
}

.container button{
    margin-top: 100px;
    padding: 20px 50px;
    font-size: 30px;
    margin-left: 40px;
    width: 300px;
    color: white;
    border-radius: 10px;
    /* border: 1px transparent; */
    
}
.container button:nth-child(1){
    background-color: greenyellow;
}
.container button:nth-child(2){
    background-color: blue;
}

.container button:nth-child(3){
    background-color: blue;
}

.container button:nth-child(4){
    background-color: red;
}


#list{
    display: block;
}

#list div {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 1000px;
    height: 50px;
    font-size: 30px;
    /* padding: 100px 20px; */
    background-color: transparent;
    color: white;
}

#list div div{
    background-color: gray;
    /* width: 500px; */
}

#list  button{
    margin-left: 40px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: red;
}